.country-not-found-container{
    height: 60vh;
    background: hsl(0, 0%, 97%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.country-not-found-container h2{
    font-weight: 800;
}
.country-not-found-container p{
    font-weight: 400;
}